 html, body {
  background-color: #e9ebee;
  font-family: 'raleway';
  font-weight: 100;
  height: 100vh;
 margin: 0;
 color:#0C090A;
 }
 article, aside, figure, figcaption, footer, header, hgroup, nav,section,
summary {
display: block;
}
 .full-height {
 height: 100vh;
 }
 .flex-center {
 align-items: center;
 display: flex;
 justify-content: center;
  }
.position-ref {
 position: relative;
 }
.top-right {
position: absolute;
right: 10px;
top: 18px;
}
.login{
  font-size: 0.9em;
}
.trending{
  font-size: 1em;
  color: #777;
}
.navbar-default{
border-bottom: 1px solid #A9A9A9;
height: 18px;
width: 100%;
position: fixed;
margin: 0 0 20px 0;
}
 .content {
 text-align: center;
 }
 .hr{
 background-color:#EEE;
 }
 .panel-body{
  padding: 5px 15px 5px 5px;
 }
#header{
  background-color: #E3E3E3;
  border-bottom: 1px solid #000;
  height: 20px;
  width: 100%;
  margin-bottom:15px; 
}
.nav li a{
  color: #4682B4;
}
.titles{
  font-size:1.3em; 
  margin: 10px 0 -18px 14px;
}
.lead-story-header{
padding:0 5px 5px 14px;
}
.con{
  background: #ffffff;
  padding: 3px 10px 10px 8px;
  margin: 0 0 10px 0;
  position: relative;
}
.headNav{
margin-left:30px; 
margin-top: -9px;
margin-bottom: -7px;
}
.headNav a {
 color: #2F4F4F;
}
.title {
 font-size: 8px;
  }
.links > a {
color: #636b6f;
padding: 0 25px;
font-size: 12px;
font-weight: 600;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
 }
 .email-phone{
  color: #000;
  font-size: 1.2em;
 }
.m-b-md {
margin-bottom: 30px;
}

 .center-block{
float: none;
display: block;
margin-left: auto;
margin-right: auto;
  }
.search-control{
  display: block;
  width:100%;
  height: 40px; 
}
#search{
width: 98%;
border: 1px solid #D3D3D3;
height: 38px;
padding-right: 50px;
border-radius: 5px;
}
.trendBox, .leadBox{
  margin: 5px 0 5px 0;
  background: #F8F8FF;
  border: 1px solid #F8F8FF
}
.postcover{
   background: #F8F8FF;
   margin-bottom: 10px;
   padding: 10px 0 10px 0;
}
.homeTitle{
color:#000;
font-size:1.6em;
font-family:"san-serif";
text-align:center;
margin: -8px 0 5px 0;
}
.post-text{
  font-size: 1.2em;
  color: #000;
}
.little-title{
  font-size: 0.6em;
}
.searchbtn{
height:38px;
margin: 1px 0 2px 0;
width: 45px;
background-color:#3299CC;
border-radius: 5px;
color:#FFF;
z-index: 9999;
margin-left: -49px;
}
.searchbtn:hover{
 border-radius: 5px; 
}
#content{
margin: 0;
border-top:0;
border-bottom: 1px solid #D3D3D3;
border-left:1px solid #D3D3D3;
border-right:1px solid #D3D3D3;
padding: 0 10px;
display: none;
z-index: 9999;
background-color: #FFF;
position: absolute;
}
#content a{
color: #696969;
font-size: 1.2em;
width: 100%;
}
#content a:hover{
  color: #000;
}
.logoImg{
  width:150px;
  height: 40px;
  margin-top:-10px;
  background-color:#008080;
}
.btn{
  background-color: #3299CC;
  color: #FFF;
  border-radius:4px; 
}
.btn:hover{
  background-color: #3299CC;
  border:1px solid #3299CC;
  text-decoration: none;
  color:#FFF;
}
a:active{
border-top: 1px solid #FFF;
}
.panel-default> .panel-heading{
  background-color: #6682d8;
  border-bottom: 1px solid #008080; 
  color: #FFF;
  font-size:1em;
  font-weight:100;
  font-family: "san-serif";
}
.navbar-default >.navbar-nav > li > a{
  color: #000;
  background: #eee;
}
li > a{
 font-size: 1.2em;
}
.navbar-default .navbar-nav > li > a:hover{
 font-size: 1.2em;
  color:#000;
}
.sidebar{
  border:1px solid #D3D3D3;
  height: 500px;
  background-color: #E6E6FA ;
  padding: 12px 0 0 30px;
}
ul>a>li{
list-style:none;
font-size: 1.1em;
font-family: "san-serif";
color: #2F4F4F;
}
.alert{
padding: px;border: 1px solid #D3D3D3;
border-radius: 4px;
background-color: #F5F5F5;
}
#centerDiv{
  margin: 0px 0 0 10px;
  padding: 10px 0 10px 0;
}
.article-title{
  margin:0 0 0 0;
}
.sidebar>a{
  color:#000;
}
.sidebar>a:active{
  color:#000;
  border-bottom:1px solid #FF4500;
}
.contentSection{
  border: 1px solid #D3D3D3;
  height: auto;
}
#sidediv{
  margin: 0 13px 0 20px;
}
.dashContent{
  margin-top:-19px;
}
.headdash{
  border-bottom: 1px solid #D3D3D3;
  padding: 7px 0 7px 0;
}
.headdash>a{
  color:#4B0082;
  font-size: 1em;
  text-decoration: none;
}
.status{
background-color: rgb(248, 239, 167);
border: 1px solid #D3D3D3;
color: #2F4F4F;
font-size: 1.2em;
text-align: center;
z-index: 9999;
display:none;
}
.successMsg{
background-color: rgb(248, 239, 167);
border: 1px solid #D3D3D3;
color: #2F4F4F;
font-size: 1.2em;
text-align: center;
z-index: 9999;
display:none;  
}
 hr {
 border: 0;
 height: 1px;
 background: #333;
 background-image: linear-gradient(to right, #ccc, #333, #ccc);
 }
.footer{
  text-align: center;
  padding-bottom: 12px;
}
.footer>a{
  color: #2F4F4F;
  font-weight: bold;

}
.footer1{
  text-align: justify;
  margin:0 10px 0 14px;
  font-size: 1.2em;
}
.footer1>a{
  color: #2F4F4F;
}
.footer1>a:hover{
  text-decoration: none;
}
#dashbody{
  margin-top: 10px;
}

.contact-div{
  background-color:#FF000;
  border-radius: 4px;
}
.logoText{
  font-family: Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size: 1.6em;
  font-weight: bold;
}
.img{
  width: 200px;
  height: 200px;
}
.showimg, .thumb-image{
  width:122px;
  height: 130px;
  padding:1px; 
  border-radius: 3px;
}
.showimg:hover, .thumb-image:hover, .img:hover{
   border:1px solid #D3D3D3;
}
#imgcaption{
  display:none;
}
.paginate{
text-align: center;
}
#ruleline{
  border-bottom: 1px solid gray;
  width: %;
}
.amt{
  color:#FFA500;
  font-size:1.1em;
  font-weight: bold;
}
.productname{
  color: #483D8B;
  font-size: 1.2em;
  font-weight: bold;
}
.home-contact{
  color:#FFA07A;
  font-size: 1.3em;
}

/*=============================
carousel slider style on full detail page
==============================*/
.carousel-control.left,.carousel-control.right{
  background-image: none !important;
}

.logotext{
font-size: 1em;
font-weight: 200;
font-family: "san-serif";
}

  .widgetContent{
    padding: 10px;
    border: 1px solid #eff2f7;
    background: #fff;
    border-radius: 3px;
    color: #797979;
    font-size: 14px;
}
.widgetContent h4.widgetHead{
background: #fafafa;
border-bottom: 1px solid #eff2f7;
padding: 10px 15px;
font-weight: bold;
font-size: 12px;
color: #797979;
border-radius: 3px 3px 0px 0px;
margin: -10px -10px 5px;
}
.widgetstatus{
    padding: 6px;
    background-color: rgb(213, 213, 213);
    border-radius: 8px;
    margin-left: 60%;
}
.widgetamount{float: right;}
.imgcon{
height:200px;
position: relative;
margin-bottom: ; 
}
figcaption{
font-family:"san-serif";
font-size: 1.2em;
}
.imgcon>img{
height:140px;
width: 100%;
border: 1px solid #66CDAA;
border-radius: 4px;
}

#imgContainer{
margin: 30px 0 20px 0;
}

.pgnate{
margin:0 0 100px 30px;
text-align: center;
}
.votediv{
  background: #eee;
  margin: 5px 0 10px 0;
  border-radius: 8px;
  padding: 10px;
}
.option{
  border: 1px solid #D3D3D3;
  text-align: center;
}
/* Chat containers */
.container1 {
    border: 1px thin #F0F0F0;
    background-color: #;
    padding: 10px 1px 0px 1px;
    margin: 10px 0px 5px 2px;
}
.container1:hover{
  border: 1px solid #EEE;
}
.post-text>body>p {
    color:#000;
    font-size: 1.2em;
}
.post-text>body>p>ol>li{
  color:#000;
    font-size: 1.2em;
}
.trendtext{
  font-size: 1.2em;
}
/* comment box */
.container2 {
    background-color: #f8f8f8;
    border-radius: 45px;
    padding: 10px 15px 15px 15px;
    margin: 10px 10px 5px 10px;
}
.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#index-sutitle{
  background: #3299CC;
  font-size: 1.3em;
  font-weight: bold;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}
.commentimg{
  margin-right:0px;
}
.commentform{
  margin:10px 0 10px 0px;
}
.trash, .edit{
  margin-left: 10px;
  margin-top: -10px;
}
.trashcomment, .editcomment{
  margin-left: 10px;
  margin-top: -9px;
}
.like{
  text-align: center;
}
.like:hover{
  background: #f1f1f1;
  height: 20px;
  text-align: center;
}
.commentlike{
  padding-left:px; 
  text-align: center;
}
.commentlike:hover{
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  height: 20px;
  text-align: center;
}
.likedata{
  margin-left:-10px;
}
/* Clear floats */
.container1::after {
    content: "";
    clear: both;
    display: table;
}
.logincomment{
  font-size: 1.3em;
  margin-top: 28px;
}
.paginateText{
  text-align:center;
}
/* Style images */
.container1 img {
    float: left;
    width: 100%;
    margin-right: 10px;
}

.containerimg img {
    float: left;
    width: 100%;
    margin-right: 10px;
}
.imgcircle{
  width:33px;
  height:33px;  
}
.imgcircle-userpost{
  width:40px;
  height:40px;  
}
.avatarwrapper{
  margin-top:23px;
}
/* Style time text */
.time-right {
    float: right;
    color: #aaa;
    font-size: 0.8em;
}
.time-date-fullview{
  margin: -8px 0 10px 38px;
}
.twitter-facebook{
  width:20px;
}
#hr-fullview{
  margin-bottom: -10px;
}
.item-footer{
  background: #f1f1f1;
  border:1px solid #eee;
  margin-top: -10px;
  padding:0 10px;
  border-radius: 6px;
}
.time-date{
  font-size: 0.65em;
}
.comment-date{
  margin-bottom: 11px;
}
.container-user{
  background:#F1F1F1;
  margin:0 0 13px 0;
  border: 1px solid #eee;
  border-radius: 5px;
}
ul.pagination li {
    display: inline;
    font-size: 12px;
    font-weight: bold;
}

ul.pagination li a {

    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 2px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    padding: 8px 8px;
    margin: 4px;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li.active {
    /*background-color: #4CAF50;*/
    background-color: #687282;
    padding: 8px 8px;
    margin: 4px;
    color: white;
    border: 1px solid #4CAF50;
}

/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {background-color: #999999;}

ul.pagination li.disabled {
    /*background-color: #cccccc;*/
    color: #ddd;
    padding: 8px 8px;
    border: 1px solid #ddd;
    margin: 4px;
}
.post-images {
    position: relative;
}
.post-images .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}