@inject('Helper', 'App\HelperClass')
@extends('layouts.newlayout')
@section('content')
		<!--CONTENT START-->
		<div class="content">
			<!--KF MAGZINE LIST START-->
			<div class="kf_magazine_list padding">
				<!--CONTAINER START-->
				<div class="container">
					<div class="kf_about_text">
						<div class="section_heading hdg_2">
							<h2>About Us</h2>
							<span></span>
						</div>
						<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae leo metus, sed imperdiet lorem fermentum et metus, sed imperdiet non vestibulum. Sed in molestie elit, vitae condimentum jusnean vulputate leo metus, sed imperdiet lorem fermentum et metus, sed imperdiet ursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus, sed imperdiet lorem fermentum et metus, sed imperdiet .</p>
						<div class="kf_about_fig">
							<figure>
								<img src="extra-images/about-fig.jpg" alt="">
							</figure>
							<div class="kf_about_fig_text">
								<p>sed cursus eget risus non vestibulum. Sed in molestie elit, sed imperdiet lorem fermentum et metus, sed imperdiet ursus eget risus non vestibulum. Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum jusvulputate leo metus, sed imperdiet lorem fermentum et metus, sed imperdiet leo met molestie elit, vitae condimentum justo. Aenean vulputate leo metus, sed imperdiet lorem fermentum et metus, sed imperdiet Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum jusvulputate leo metus..</p>
								<p>Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus, fermentum et metus, sed imperdiet Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum jusvulputate leo metus,</p>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum jusvulputate leo metused in molestie elit, vitae condimentum justo. Aenean vulputate leo metus, sed imperdiet lorem fermentum et metus, sed imperdiet Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum jusvulputate leo metus..</p>
							</div>
						</div>
					</div>
					<!--KF BIT BUSINESS START-->
					<div class="kf_bit_business bit_2 padding_0">
						<div class="section_heading hdg_1">
							<h2>My Top Viewed Posts</h2>
							<span></span>
						</div>
						<div class="kf-slider-bitcoin">
							<div>
								<div class="kf_bit_fig fig_2">
									<figure class="overlay">
										<img src="extra-images/bit-coin3.jpg" alt="">
										<figcaption class="bit_caption">
											<a class="theam_color" href="#">Corporate</a>
											<h4><a href="#">Business Trip to those who perform well</a></h4>
											<ul class="bit_meta meta_2">
												<li><a href="#"><i class="fa fa-calendar-check-o"></i>June 01, 2017</a></li>
												<li><a href="#"><i class="fa fa-user"></i>John Doe Aliin</a></li>
											</ul>
										</figcaption>
									</figure>
								</div>
							</div>
							<div>
								<div class="kf_bit_fig fig_2">
									<figure class="overlay">
										<img src="extra-images/bit-coin4.jpg" alt="">
										<figcaption class="bit_caption">
											<a class="theam_color" href="#">Corporate</a>
											<h4><a href="#">Business Trip to those who perform well</a></h4>
											<ul class="bit_meta meta_2">
												<li><a href="#"><i class="fa fa-calendar-check-o"></i>June 01, 2017</a></li>
												<li><a href="#"><i class="fa fa-user"></i>John Doe Aliin</a></li>
											</ul>
										</figcaption>
									</figure>
								</div>
							</div>
							<div>
								<div class="kf_bit_fig fig_2">
									<figure class="overlay">
										<img src="extra-images/bit-coin5.jpg" alt="">
										<figcaption class="bit_caption">
											<a class="theam_color" href="#">Corporate</a>
											<h4><a href="#">Business Trip to those who perform well</a></h4>
											<ul class="bit_meta meta_2">
												<li><a href="#"><i class="fa fa-calendar-check-o"></i>June 01, 2017</a></li>
												<li><a href="#"><i class="fa fa-user"></i>John Doe Aliin</a></li>
											</ul>
										</figcaption>
									</figure>
								</div>
							</div>
							<div>
								<div class="kf_bit_fig fig_2">
									<figure class="overlay">
										<img src="extra-images/bit-coin5.jpg" alt="">
										<figcaption class="bit_caption">
											<a class="theam_color" href="#">Corporate</a>
											<h4><a href="#">Business Trip to those who perform well</a></h4>
											<ul class="bit_meta meta_2">
												<li><a href="#"><i class="fa fa-calendar-check-o"></i>June 01, 2017</a></li>
												<li><a href="#"><i class="fa fa-user"></i>John Doe Aliin</a></li>
											</ul>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<!--KF BIT BUSINESS END-->
				</div>
				<!--CONTAINER END-->
			</div>
			<!--KF MAGZINE LIST END-->
			
			<!--KF INSTAGRAM WRAP START-->
			<div class="kf_instagram_wrap">
				<div class="instagram-slide">
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide1.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide2.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide3.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide4.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide5.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide5.jpg" alt="">
							</figure>
						</div>
					</div>
				</div>
				<a class="kf_instagram_btn theam_btn_large theam_bg_color" href="#">Follow @ Instagram</a>
			</div>
			<!--KF INSTAGRAM WRAP END-->
			
			<!--KF NEWSLETTER WRAP START-->
			<div class="kf_newsletter_wrap">
				<div class="container">
					<div class="kf_newsletter_text">
						<h2>Stay Connected With Us</h2>
						<ul class="top_icon icon_2">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
						<div class="kf_comment_form">
							<h4>Post Your Comment</h4>
							<form method="post" class="comment_form">
								<div class="kf_commet_field">
									<input placeholder="Your Email" name="url" type="text" value="" required>
								</div>
								<p class="form-submit"><input name="submit" type="submit" class="theam_btn" value="Submit"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--KF NEWSLETTER WRAP END-->
		</div>
		<!--CONTENT END-->
	@endsection