@inject('Helper', 'App\HelperClass')
@extends('layouts.newlayout')
@section('content')
		
		<!--CONTENT START-->
		<div class="content ">
			<!--KF MAGZINE LIST START-->
			<div class="kf_magazine_list padding_list">
				<!--CONTAINER START-->
				<div class="container">
					<div class="col-md-9 responsive_padding">
						<div class="section_heading">
							<h2>Business World</h2>
							<span></span>
						</div>
						<div class="kf_news_list">
							<figure>
								<img src="extra-images/blog-list.jpg" alt="">
							</figure>
							<div class="kf_news_text text_2">
								<a class="theam_btn margin-bottom" href="#">Business</a>
								<h3><a href="#">Pound volatile after surprise not to Bank vote</a></h3>
								<ul class="bit_meta meta_2 meta_5">
									<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
									<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
								</ul>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metusSed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus...</p>
								<a class="theam_btn_large" href="#">See More</a>
							</div>
						</div>
						<div class="kf_news_list">
							<figure>
								<img src="extra-images/blog-list1.jpg" alt="">
							</figure>
							<div class="kf_news_text text_2">
								<a class="theam_btn margin-bottom" href="#">Business</a>
								<h3><a href="#">Pound volatile after surprise not to Bank vote</a></h3>
								<ul class="bit_meta meta_2 meta_5">
									<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
									<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
								</ul>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metusSed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus...</p>
								<a class="theam_btn_large" href="#">See More</a>
							</div>
						</div>
						<div class="kf_news_list">
							<figure>
								<img src="extra-images/blog-list2.jpg" alt="">
							</figure>
							<div class="kf_news_text text_2">
								<a class="theam_btn margin-bottom" href="#">Business</a>
								<h3><a href="#">Pound volatile after surprise not to Bank vote</a></h3>
								<ul class="bit_meta meta_2 meta_5">
									<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
									<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
								</ul>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metusSed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus...</p>
								<a class="theam_btn_large" href="#">See More</a>
							</div>
						</div>
						<div class="kf_news_list">
							<figure>
								<img src="extra-images/blog-list3.jpg" alt="">
							</figure>
							<div class="kf_news_text text_2">
								<a class="theam_btn margin-bottom" href="#">Business</a>
								<h3><a href="#">Pound volatile after surprise not to Bank vote</a></h3>
								<ul class="bit_meta meta_2 meta_5">
									<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
									<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
								</ul>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metusSed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus...</p>
								<a class="theam_btn_large" href="#">See More</a>
							</div>
						</div>
						<div class="kf_news_list">
							<figure>
								<img src="extra-images/blog-list4.jpg" alt="">
							</figure>
							<div class="kf_news_text text_2">
								<a class="theam_btn margin-bottom" href="#">Business</a>
								<h3><a href="#">Pound volatile after surprise not to Bank vote</a></h3>
								<ul class="bit_meta meta_2 meta_5">
									<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
									<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
								</ul>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metusSed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus...</p>
								<a class="theam_btn_large" href="#">See More</a>
							</div>
						</div>
						<div class="kf_news_list">
							<figure>
								<img src="extra-images/blog-list5.jpg" alt="">
							</figure>
							<div class="kf_news_text text_2">
								<a class="theam_btn margin-bottom" href="#">Business</a>
								<h3><a href="#">Pound volatile after surprise not to Bank vote</a></h3>
								<ul class="bit_meta meta_2 meta_5">
									<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
									<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
								</ul>
								<p>Sed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metusSed cursus eget risus non vestibulum. Sed in molestie elit, vitae condimentum justo. Aenean vulputate leo metus...</p>
								<a class="theam_btn_large" href="#">See More</a>
							</div>
						</div>				
					</div>
					<div class="col-md-3 responsive_padding">
						<!--SIDE BAR WRAP START-->
						<div class="side_bar_wrap">
							<div class="kf_top_story">
								<div class="section_heading hdg_2">
									<h2 class="font_size">About Us</h2>
									<span></span>
								</div>
							</div>
							<div class="kf_side_fig">
								<figure>
									<img src="extra-images/side-blog.jpg" alt="">
								</figure>
								<div class="kf_side_fig_text">
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam is theis nonummy nibh...</p>
								</div>
							</div>
							
							<!--KF SELLING ADD OVERLAY START-->
							<div class="kf_selling_add overlay">
								<h3>Best Selling WordPress Theme</h3>
								<h3>Banner Area</h3>
								<h3>269 x 292</h3>
								<a class="theam_btn_large theam_bg_color" href="#">Purchase Now</a>
							</div>
							<!--KF SELLING ADD OVERLAY END-->
							<div class="kf_blog_list margin-30">
								<div class="kf_top_story">
									<div class="section_heading hdg_2">
										<h2 class="font_size">Recent Post</h2>
										<span></span>
									</div>
								</div>
								<ul>
									<li>
										<div class="kf_blog_modren">
											<figure>
												<img src="extra-images/side-list-fig.jpg" alt="">
											</figure>
											<div class="kf_blog_modren_text">
												<h6>Pound volatile after Bank vote</h6>
												<ul class="bit_meta meta_2 meta_4">
													<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
													<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="kf_blog_modren">
											<figure>
												<img src="extra-images/side-list-fig1.jpg" alt="">
											</figure>
											<div class="kf_blog_modren_text">
												<h6>Pound volatile after Bank vote</h6>
												<ul class="bit_meta meta_2 meta_4">
													<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
													<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="kf_blog_modren">
											<figure>
												<img src="extra-images/side-list-fig2.jpg" alt="">
											</figure>
											<div class="kf_blog_modren_text">
												<h6>Pound volatile after Bank vote</h6>
												<ul class="bit_meta meta_2 meta_4">
													<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
													<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<div class="kf_blog_modren">
											<figure>
												<img src="extra-images/side-list-fig3.jpg" alt="">
											</figure>
											<div class="kf_blog_modren_text">
												<h6>Pound volatile after Bank vote</h6>
												<ul class="bit_meta meta_2 meta_4">
													<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
													<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!--KF SOCIAL LIST START-->
							<div class="kf_social_list">
								<ul>
									<li>
										<div class="kf_social_detail">
											<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
											<div class="kf_social_text">
												<h6>2,226</h6>
												<span><a href="#">Followers</a></span>
											</div>
										</div>
									</li>
									<li>
										<div class="kf_social_detail">
											<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
											<div class="kf_social_text">
												<h6>4,850</h6>
												<span><a href="#">Likes</a></span>
											</div>
										</div>
									</li>
									<li>
										<div class="kf_social_detail">
											<a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
											<div class="kf_social_text">
												<h6>2,354</h6>
												<span><a href="#">Followers</a></span>
											</div>
										</div>
									</li>
									<li>
										<div class="kf_social_detail">
											<a class="rss" href="#"><i class="fa fa-rss"></i></a>
											<div class="kf_social_text">
												<h6>5,980</h6>
												<span><a href="#">Followers</a></span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!--KF SOCIAL LIST END-->
							<!--Category Wrap Start-->
                            <div class="aladin_aside_category aside_hdg_1">
								<div class="kf_top_story">
									<div class="section_heading hdg_2">
										<h2 class="font_size">Categories</h2>
										<span></span>
									</div>	
								</div>
                                <ul>
                                    <li><a href="#">Business</a><span>(02)</span></li>
                                    <li><a href="#">Corporate</a><span>(03)</span></li>
                                    <li><a href="#">World</a><span>(04)</span></li>
                                    <li><a href="#">Travel Business</a><span>(05)</span></li>
                                </ul>
                            </div>
                            <!--Category Wrap End-->
							
						</div>
						<!--SIDE BAR WRAP END-->
					</div>
				</div>
				<!--CONTAINER END-->
			</div>
			<!--KF MAGZINE LIST END-->
			
			<!--KF INSTAGRAM WRAP START-->
			<div class="kf_instagram_wrap">
				<div class="instagram-slide">
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide1.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide2.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide3.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide4.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide5.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide5.jpg" alt="">
							</figure>
						</div>
					</div>
				</div>
				<a class="kf_instagram_btn theam_btn_large theam_bg_color" href="#">Follow @ Instagram</a>
			</div>
			<!--KF INSTAGRAM WRAP END-->
			
			<!--KF NEWSLETTER WRAP START-->
			<div class="kf_newsletter_wrap">
				<div class="container">
					<div class="kf_newsletter_text">
						<h2>Stay Connected With Us</h2>
						<ul class="top_icon icon_2">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
						<div class="kf_comment_form">
							<h4>Post Your Comment</h4>
							<form method="post" class="comment_form">
								<div class="kf_commet_field">
									<input placeholder="Your Email" name="url" type="text" value="" required>
								</div>
								<p class="form-submit"><input name="submit" type="submit" class="theam_btn" value="Submit"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--KF NEWSLETTER WRAP END-->
		</div>
		<!--CONTENT END-->	
	@endsection