@inject('Helper', 'App\HelperClass')
@extends('layouts.app')
@section('content')
		
		<!--CONTENT START-->
		<div class="content">
			<div class="container">
				<div class="detail_row">
					<div class="kf_detail_text">
						<a class="theam_btn" href="#">Travel</a>
						<h2>Singapore admits to money laundering in linked case</h2>
						<ul class="bit_meta meta_2 meta_3">
							<li><a href="#"><i class="fa fa-calendar-check-o"></i>June 01, 2017</a></li>
							<li><a href="#"><i class="fa fa-user"></i>John Doe Aliin</a></li>
							<li><a href="#"><i class="fa fa-eye"></i>36 Views</a></li>
						</ul>
					</div>
					<div class="kf_detail_slide">
						<div class="kf_detail_fig">
							<figure class="overlay">
								<img src="extra-images/blog-detail11.jpg" alt="">
								<figcaption>
									<span>25</span>
									<strong>July</strong>
								</figcaption>
							</figure>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="kf_detail_list">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque..</p>
								<p> dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque...</p>
								<blockquote> <h3>We’re all connected by a love for travel!</h3> </blockquote>
								<div class="kf_detail_caption">
									<figure>
										<img src="extra-images/blog-detail1.jpg" alt="">
									</figure>
									<p>dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
									<p>onsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elitonsectetur adipiscing elit. Pellentesque dictum rutrum arcu...</p>
								</div>
								<div class="kf_detail_deta">
									<h3>1. Good places for weekend</h3>
									<p>onsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit.onsectetur adipiscing elit. Pellentesque dictum rutrum arcu id adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									<div class="row">
										<div class="col-md-6">
											<div class="text">
												<p>dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictumPellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum...</p>
												<p>dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque Praesent ulconsectetur..</p>
												<p>ellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur sectetur adipiscing elit ...</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="thumb">
												<figure>
													<img src="extra-images/blog-detail2.jpg" alt="">
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="blog_meta_list">
									<a href="#"><i class="fa fa-share"></i> <h5>Share This Post :</h5></a>
									<ul class="kf_share_link">
										<li><a class="theam_btn_large blue" href="#"><i class="fa fa-facebook"></i>Facebok</a><a class="theam_btn_large light_blue" href="#"><i class="fa fa-twitter"></i>Twitter</a><a class="theam_btn_large blue_white" href="#"><i class="fa fa-linkedin"></i>linked In</a></li>
									</ul>
								</div>
								<div class="kf_detail_post">
									<ul>
										<li>
											<div class="kf_post_list">
												<a href="#"><i class="fa fa-angle-double-left"></i>Previous Post</a>
												<p>Tribes in China wear the same orange clothes in the National Day</p>
											</div>
										</li>
										<li class="next">
											<div class="kf_post_list">
												<a href="#">Next Post<i class="fa fa-angle-double-right"></i></a>
												<p>Tribes in China wear the same orange clothes in the National Day</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="kf_comments">
									<h3 class="comment_title">Two Comments</h3>
									<ul id="kode-comment" class="comment">
										<li>
											<div class="comment_item">
												<figure>
													<img src="extra-images/comment.jpg" alt="">
												</figure>
												<div class="comment_text">
													<h4><a href="#">Jhon Doe</a></h4>
													<p>onsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet,</p>
													<a class="replay" href="#"><i class="fa fa-reply"></i>Reply</a>
												</div>
											</div>
										</li>
										<li>
											<div class="comment_item">
												<figure>
													<img src="extra-images/comment.jpg" alt="">
												</figure>
												<div class="comment_text">
													<h4><a href="#">Jhon Doe</a></h4>
													<p>onsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisque. Praesent ulconsectetur adipiscing elit. Pellentesque dictum rutrum arcu id scelerisqueLorem ipsum dolor sit amet,</p>
													<a class="replay" href="#"><i class="fa fa-reply"></i>Reply</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="kf_news_comment">
									<div class="kf_detail_news">
										<h3>Join Our Newsletter!</h3>
										<p>We love to tell you about our new stuff. Subscribe to newsletter!</p>
										<div class="kf_commet_field">
											<input placeholder="Your Email" name="author" type="text" value="" data-default="Name*" size="30" required>
											<button>Submit Now</button>
										</div>
									</div>
								</div>	
								<div class="kf_like_post">
									<h3 class="comment_title">You May Also Like</h3>
									<div class="row">
										<div class="col-md-4">
											<div class="kf_blog_medium grid">
												<figure>
													<img src="extra-images/blog_grid.jpg" alt="">
												</figure>
												<div class="kf_blog_text">
													<h6><a href="#">Business Conference<br> Meeting held</a></h6>
													<p>Sed cursus eget risus non vestibulum Sed in molestie..</p>	
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="kf_blog_medium grid">
												<figure>
													<img src="extra-images/blog_grid1.jpg" alt="">
												</figure>
												<div class="kf_blog_text">
													<h6><a href="#">Business Conference<br> Meeting held</a></h6>
													<p>Sed cursus eget risus non vestibulum Sed in molestie..</p>	
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="kf_blog_medium grid">
												<figure>
													<img src="extra-images/blog_grid2.jpg" alt="">
												</figure>
												<div class="kf_blog_text">
													<h6><a href="#">Business Conference<br> Meeting held</a></h6>
													<p>Sed cursus eget risus non vestibulum Sed in molestie..</p>	
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="kf_leave_comment">
									<h3 class="comment_title">Leave A Reply</h3>
									<div class="row">
										<div class="col-md-4">
											<div class="kf_commet_field">
												<input placeholder="Your Name" name="author" type="text" value="" data-default="Name*" size="30" required>
											</div>
										</div>
										<div class="col-md-4">
											<div class="kf_commet_field">
												<input placeholder="Your Email" name="author" type="text" value="" data-default="Name*" size="30" required>
											</div>
										</div>
										<div class="col-md-4">
											<div class="kf_commet_field">
												<input placeholder="Your Mobile" name="author" type="text" value="" data-default="Name*" size="30" required>
											</div>
										</div>
										<div class="col-md-12">
											<div class="kf_textarea">
												<textarea placeholder="Your Message" name="comment"></textarea>
												<p class="form-submit"><input name="submit" type="submit" class="theam_btn_large theam_bg_color" value="Send Now"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<!--SIDE BAR WRAP START-->
							<div class="side_bar_wrap">
								<div class="kf_top_story">
									<div class="section_heading hdg_2">
										<h2 class="font_size">About Us</h2>
										<span></span>
									</div>
								</div>
								<div class="kf_side_fig">
									<figure>
										<img src="extra-images/side-blog.jpg" alt="">
									</figure>
									<div class="kf_side_fig_text">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam is theis nonummy nibh...</p>
									</div>
								</div>
								
								<!--KF SELLING ADD OVERLAY START-->
								<div class="kf_selling_add overlay">
									<h3>Best Selling WordPress Theme</h3>
									<h3>Banner Area</h3>
									<h3>269 x 292</h3>
									<a class="theam_btn_large theam_bg_color" href="#">Purchase Now</a>
								</div>
								<!--KF SELLING ADD OVERLAY END-->
								<div class="kf_blog_list margin-30">
									<div class="kf_top_story">
										<div class="section_heading hdg_2">
											<h2 class="font_size">Recent Post</h2>
											<span></span>
										</div>
									</div>
									<ul>
										<li>
											<div class="kf_blog_modren">
												<figure>
													<img src="extra-images/side-list-fig.jpg" alt="">
												</figure>
												<div class="kf_blog_modren_text">
													<h6>Pound volatile after Bank vote</h6>
													<ul class="bit_meta meta_2 meta_4">
														<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
														<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="kf_blog_modren">
												<figure>
													<img src="extra-images/side-list-fig1.jpg" alt="">
												</figure>
												<div class="kf_blog_modren_text">
													<h6>Pound volatile after Bank vote</h6>
													<ul class="bit_meta meta_2 meta_4">
														<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
														<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="kf_blog_modren">
												<figure>
													<img src="extra-images/side-list-fig2.jpg" alt="">
												</figure>
												<div class="kf_blog_modren_text">
													<h6>Pound volatile after Bank vote</h6>
													<ul class="bit_meta meta_2 meta_4">
														<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
														<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="kf_blog_modren">
												<figure>
													<img src="extra-images/side-list-fig3.jpg" alt="">
												</figure>
												<div class="kf_blog_modren_text">
													<h6>Pound volatile after Bank vote</h6>
													<ul class="bit_meta meta_2 meta_4">
														<li><a href="#"><i class="fa fa-user"></i>John Throat</a></li>
														<li><a href="#"><i class="fa fa-calendar-check-o"></i>3 Months</a></li>
													</ul>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!--KF SOCIAL LIST START-->
								<div class="kf_social_list">
									<ul>
										<li>
											<div class="kf_social_detail">
												<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
												<div class="kf_social_text">
													<h6>2,226</h6>
													<span><a href="#">Followers</a></span>
												</div>
											</div>
										</li>
										<li>
											<div class="kf_social_detail">
												<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
												<div class="kf_social_text">
													<h6>4,850</h6>
													<span><a href="#">Likes</a></span>
												</div>
											</div>
										</li>
										<li>
											<div class="kf_social_detail">
												<a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
												<div class="kf_social_text">
													<h6>2,354</h6>
													<span><a href="#">Followers</a></span>
												</div>
											</div>
										</li>
										<li>
											<div class="kf_social_detail">
												<a class="rss" href="#"><i class="fa fa-rss"></i></a>
												<div class="kf_social_text">
													<h6>5,980</h6>
													<span><a href="#">Followers</a></span>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!--KF SOCIAL LIST END-->
								<!--Category Wrap Start-->
								<div class="aladin_aside_category aside_hdg_1">
									<div class="kf_top_story">
										<div class="section_heading hdg_2">
											<h2 class="font_size">Categories</h2>
											<span></span>
										</div>	
									</div>
									<ul>
										<li><a href="#">Business</a><span>(02)</span></li>
										<li><a href="#">Corporate</a><span>(03)</span></li>
										<li><a href="#">World</a><span>(04)</span></li>
										<li><a href="#">Travel Business</a><span>(05)</span></li>
									</ul>
								</div>
								<!--Category Wrap End-->
								
							</div>
							<!--SIDE BAR WRAP END-->
						</div>
					</div>
				</div>
			</div>
		
			<!--KF INSTAGRAM WRAP START-->
			<div class="kf_instagram_wrap">
				<div class="instagram-slide">
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide1.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide2.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide3.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide4.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide5.jpg" alt="">
							</figure>
						</div>
					</div>
					<div>
						<div class="kf_instagram_fig">
							<figure>
								<img src="extra-images/slide5.jpg" alt="">
							</figure>
						</div>
					</div>
				</div>
				<a class="kf_instagram_btn theam_btn_large theam_bg_color" href="#">Follow @ Instagram</a>
			</div>
			<!--KF INSTAGRAM WRAP END-->
			
			<!--KF NEWSLETTER WRAP START-->
			<div class="kf_newsletter_wrap">
				<div class="container">
					<div class="kf_newsletter_text">
						<h2>Stay Connected With Us</h2>
						<ul class="top_icon icon_2">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
						<div class="kf_comment_form">
							<h4>Post Your Comment</h4>
							<form method="post" class="comment_form">
								<div class="kf_commet_field">
									<input placeholder="Your Email" name="url" type="text" value="" required>
								</div>
								<p class="form-submit"><input name="submit" type="submit" class="theam_btn" value="Submit"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--KF NEWSLETTER WRAP END-->
		</div>
		<!--CONTENT END-->
		
@endsection